/* entire body will be a flexbox */
body {
	display:flex;
	flex-direction:column;
    background-color: mediumaquamarine;
}

/* All sentences except for the startTitle container will have each letter slightly separated */
div:not(#startTitle) {
    letter-spacing: 0.005em;
}

/* header will be a flexbox */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0em;
}

/* header h1 and h2 will have following properties */
header h1, header h2 {
    color: darkgoldenrod;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: bold;
    font-size: 3em;
}

/* Everything inside main will be under the conditions of a flexbox */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em 0em;
}

/* All paragraphs have following font-family, which works well with the preceding serif font */
main p {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.25em;
}

/* form in startForm container will have these properties */
#startForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

/* All button inputs will have following properties, for text and padding */
#startForm form label {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.25em;
    padding: 0em 0em 0.0625em 0em;
}

#startForm form input {
    background-color: antiquewhite;
    border-radius: 0.25em;
    padding: 0.25em;
}

form button {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1em;
    background-color: antiquewhite;
    border-radius: 1.5em;
    padding: 0.245em 1em;
}

/* form under the difficultySelection container will have slightly different properties */
#difficultySelection form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

/* If user hovers over any button, it will have a colored backround and cursor */
form button:hover {
    background-color: goldenrod;
    cursor: pointer;
}

/* navigation will always be displayed as a flexbox */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Following coloring used for text if user won or lost */

#win {
    color: green;
}

#lose {
    color: red;
}

/* Following css shows properties that the tables will show on scores.php */

table {
    border-collapse: collapse;
    border-spacing: 1em;
    caption-side: bottom;
    table-layout: fixed;
}

th, td {
    border: 0.2em solid purple;
    padding: 1em;
    text-align: left;
    font-family: "Arial", "Helvetica", sans-serif;
}